<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <connectionStrings>
        <add name="IS" connectionString="Data Source=50LAB1-05-70869;Initial Catalog=IS;Integrated Security=True" providerName="System.Data.SqlClient" />
   </connectionStrings>
</configuration>